### Maven template  
target/    
build/  
pom.xml.tag  
pom.xml.releaseBackup  
pom.xml.versionsBackup  
pom.xml.next  
release.properties  
dependency-reduced-pom.xml  
buildNumber.properties  
.mvn/timing.properties  
  
.idea/
.gradle/
# IntelliJ  
/out/
*.iml
  
# mpeltonen/sbt-idea plugin  
.idea_modules/  